/* *************** */
/* global-Styles */
/* **************** */
body {
  background-color: #0D0D0D;
  overflow: hidden;
}

.start {
  left: -256.562px;
}

img {
  width: 100%;
  display: block;
}

i {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

::placeholder {
  color: #6C706F !important;
}

input {
  outline: none;
}

/* *************** */
/* N A V */
/* **************** */
.links-container {
  background-color: #0D0D0D;
}

.nav-links li.nav-link {
  position: relative;
  padding-bottom: 20px;
}

.logo {
  width: 50px;
}

/* meals */
#mealsSection .row .layer {
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: .5s;
}

#mealsSection .row .meal {
  position: relative;
  overflow: hidden;
}

#mealsSection .row .meal .layer {
  position: absolute;
  display: flex;
  align-items: center;
  color: black;
  padding: 0.5rem;
}

#mealsSection .row .meal:hover .layer {
  top: 0;
}

/* meal-category */
#mealsSection .row .meal-cat {
  position: relative;
  overflow: hidden;
}

#mealsSection .row .meal-cat .layer {
  position: absolute;
  text-align: center;
  color: black;
  padding: 0.5rem;
}

#mealsSection .row .meal-cat:hover .layer {
  top: 0;
}

/* search */
.search {
  background-color: transparent !important;
  margin-bottom: 1.1rem;
  color: #fff !important;
}

.alert {
  width: fit-content;
}

/* preLoader */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.inner-loading-screen {
  position: absolute;
  z-index: 9;
  background-color: #0D0D0D;
  display: flex;
}